# Core functionality - changes here should be rare!
/src/app.py                   @Xarlizard
/src/backend/database.py      @Xarlizard
/src/backend/routers/auth.py  @Xarlizard

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Xarlizard
